#AnchorPane {
    -fx-background-color: white; /*  cor do fundo */
}

#insideLeftAnchorPane {
    -fx-background-color: #1d2026;
}
#insideLeftAnchorPane_Pane {
    -fx-background-color: #1d2026;
}
#Pane_Label {
    /* Pesquisar fonte utilizada: Josefin Sans 
    -fx-font-family: "Comic Sans MS"; */
    -fx-text-fill: white; /* cor do texto da label */
    -fx-font-size: 16pt; /* tamanho da fonte */
    -fx-alignment: CENTER; /* centralizar o texto */
}